<div class="ot-product-collection-reviews" data-product-id="{{ product.id }}">
  <div class='ratingbox'>
    <span class='stars-orange'></span>
  </div>
  <span class="reviews-count">(0 review)</span>
</div>